* {
    margin: 0;
    padding: 0;
    border: 0;
}

header {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(121, 184, 180);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav {
    background-color: rgb(71, 134, 132);
    display: flex;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

article {
    background-color: rgb(200, 236, 243);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

section {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

aside {
    float: right;
    text-align: center;
    display: flex;
    background-color: rgb(117, 179, 177);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

footer {
    background-color: rgb(40, 87, 87);
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow: hidden;
    height: auto;
    color: white;
    padding-bottom: 20px;
    padding-top: 20px;
}

/*------------------------------------Other stuff
*/
/*-----Nav bar stuff*/
nav ul {
    list-style-type: none;
}

nav li {
    background-color: rgb(71, 134, 132);
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: rgb(71, 88, 132);
}

/*Nav Buttons*/
.activeButton {
    color: rgb(3, 3, 3);
    background-color: rgb(241, 219, 16);
}

.activeButton:hover {
    background-color: rgb(241, 173, 16);
}

/*-----Aside stuff*/
.asideContent {
    margin: 10px;
}

/*------Section stuff*/
.sectionTitle {
    padding: 20px;
    background-color: rgb(52, 100, 99);
}

.sectionContent {
    padding: 20px;
}

.homeSections {
    background-color: rgb(71, 134, 132);
    color: white;
}

.homeSectionsHalf {
    width: 50%;
}

.boxParent {
    display: flex;
}

@media screen and (max-width: 800px) {
    .homeSectionsHalf {
        width: 100%;
    }
    
    .boxParent {
        display: block;
    }
  }

.boxChildren {
    float: left;
}

/*-----------------Page specific stuff
*/
/*------Home Page*/
.coverImage {
    width: 100%;
    height: 5%;
    max-width: 100%;
    max-height: 500px;
    display: flex;
}

.normalImage {
    max-width: 400px;
    max-height: 300px;
}

/*------Product Page*/
.productBox {
    background-color: rgb(124, 218, 216);
    display: flex;
    margin-left: 15%;
    margin-right: 15%;
    height: 250px;
}

.productText {
    float: left;
    padding-left: 20px;
    padding-top: 20px;
    width: 70%;
}

.productImage {
    width: 30%;
    height: auto;
}

/*------------------Other Universal
*/
.pHighlight {
    color: yellow;
    font-weight: bold;
}